    # exclude all search engines / bots
    add_header X-Robots-Tag none;
    location = /robots.txt {
        add_header Content-Type text/plain;
        return 200 "User-agent: *\nDisallow: /\n";
    }

